
#stacks_in_393_page21 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_393_page21 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_463_page21 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_463_page21 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_426_page21 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_426_page21 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_378_page21 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_378_page21 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_341_page21 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_341_page21 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_267_page21 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_267_page21 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_222_page21 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_222_page21 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_207_page21 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_207_page21 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_192_page21 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_192_page21 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_177_page21 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_177_page21 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_97_page21 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_97_page21 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_90_page21 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_90_page21 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_71_page21 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_71_page21 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_60_page21 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_60_page21 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_53_page21 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_53_page21 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_46_page21 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_46_page21 .stacks_right {
	float:right;
	width:49%;
}