body, #banner_bkg {
	background-color: #5B5B58;
}

#site_title {
	color: #FFFFFF;
}

#slogan h2 {
	border-color: #FFFFFF;
	color: #000000;
}

nav#main_navigation a,
nav#mobile_navigation a,
nav#main_navigation a:visited,
nav#mobile_navigation a:visited,
#mobile_navigation_closer {
	color: #D5D5D5;
}

nav#main_navigation a.current,
nav#main_navigation a.currentAncestor, 
nav#main_navigation a.current:visited,
nav#main_navigation a.currentAncestor:visited, 
nav#main_navigation a:hover,
nav#main_navigation a.current:hover,
nav#main_navigation a.currentAncestor:hover, 
nav#mobile_navigation ul a:hover,
nav#mobile_navigation ul a:active,
nav#mobile_navigation a.current,
nav#mobile_navigation a.currentAncestor {
	color: #FFFFFF !important;
	background-color: #DE425A;
}

nav#mobile_navigation {
	background-color: #383B42;
}

nav#mobile_navigation ul li {
	border-top-color: #2C2F34;
}

#mobile_navigation_opener {
	background-color: #CDCDCD;
	color: #383B42;
}

#mobile_navigation_closer {
	background-color: #2A2D32;
	color: #D5D5D5;
	border-bottom: solid 1px #212428;
}

.modal_popup_link i {
	color: #383B42;
	background-color: #CDCDCD;
}

.modal_popup_link i:hover {
	color: #FFFFFF;
	background-color: #DE425A;
}

.white-popup {
  background: #FFFFFF;
  color: #6A6A6A;
}

.white-popup a, 
.white-popup a:visited {
	color: #DE425A;
}

.white-popup a:hover, 
.white-popup a:active {
	color: #B13448;
}

#content_container {
	background-color: #FFFFFF;
}

#content {
	color: #6A6A6A;
}

#content a, 
#content a:visited {
	color: #DE425A;
}

#content a:hover, 
#content a:active {
	color: #B13448;
}

#sidebar {
	color: #6A6A6A;
}

#sidebar a, 
#sidebar a:visited {
	color: #0000FF;
}

#sidebar a:hover, 
#sidebar a:active {
	color: #0000CC;
}

#extraContent1 {
	color: #CDCDCD;
	background-color: #1B1A1D;
}

#extraContent1 .row {
	background-color: #2C2B2C;
}

#extraContent1 a, 
#extraContent1 a:visited {
	color: #0000FF;
}

#extraContent1 a:hover, 
#extraContent1 a:active {
	color: #0000CC;
}

#extraContent2 {
	border-bottom-color: #DE425A;
	color: #CDCDCD;
}

#extraContent2 a, 
#extraContent2 a:visited {
	color: #0000FF;
}

#extraContent2 a:hover, 
#extraContent2 a:active {
	color: #0000CC;
}

#extraContent4 {
	background-color: #FFFFFF;
	color: #6A6A6A;
}

#extraContent4 a, #extraContent4 a:visited {
	color: #0000FF;
}

#extraContent4 a:hover, 
#extraContent4 a:active {
	color: #0000CC;
}

#footer {
	color: #FFFFFF;
}

#footer a,
#footer a:visited {
	color: #FFFFFF;
}

#footer a:hover,
#footer a:active {
	color: #CCCCCC;
}

#breadcrumb {
	color: #2F2F2D;
}

#breadcrumb a,
#breadcrumb a:visited {
	color: #2F2F2D;
}

#breadcrumb a:hover,
#breadcrumb a:active {
	color: #252524;
}

#sidebar ul.blog-tag-cloud a, 
#sidebar ul.blog-tag-cloud a:visited, 
#sidebar ul.blog-tag-cloud a:link {
	color: #FFFFFF;
	background-color: #0000FF;
}

#sidebar ul.blog-tag-cloud a:hover, 
#sidebar ul.blog-tag-cloud a:active {
	background-color: #0000CC;
}

.blog-entry,
.filesharing-item {
	border-bottom-color: #D4D4D4; 
}
